<html>
<head>
  <title>DojoGram</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <script src="../javascripts/ng-file-upload-shim.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="../javascripts/ng-file-upload.min.js"></script>
  <script data-require="ui-bootstrap@0.5.0" data-semver="0.5.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  <script src="../javascripts/angularApp.js"></script>
  <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
</head>
<body ng-app="dojoGram">
  <div class="container container-fluid">
    <nav class="navbar navbar-default pull-right" role="navigation" ng-controller="NavCtrl">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a href="/#/user/{{currentUserID()}}"><span class="glyphicon glyphicon-user"> {{ currentUser() }}</span></a></li>
      <li><a href="/#/home"><span class="glyphicon glyphicon-home"> Home</span></a></li>
      <li ng-show="isLoggedIn()"><a href="/#/upload/{{currentUserID()}}"><span class="glyphicon glyphicon-save">Upload</span></a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"> LogOut</span></a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login"><span class="glyphicon glyphicon-log-in"> LogIn</span></a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register"><span class="glyphicon glyphicon-pencil"> Register</span></a></li>
    </ul>
  </div>
  </nav>
    <div class="page-header">
      <h1><span class="glyphicon glyphicon-camera"></span>DojoGram <span style="font-size: 12px">*in progress.</span></h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
</div>
</body>
</html>
